/* 4CatsHouse - style.css */
/* 版本號: 0.002 */

body {
  margin: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

canvas {
  display: block;
  width: 70%; /* 設置畫布寬度 */
  height: 70%; /* 設置畫布高度 */
  background-color: #ffffff; /* 畫布背景顏色 */
}
